<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=stylesheet href="{{ url_for('static', filename='normalize.css') }}">
    <link rel=stylesheet href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="container">
        <header id="page-header" class="grid grid-full grid-small-fit">
            <h1 id="page-title" class="grid-cell"><a href="{{ url_for('showCatalog') }}">Catalog App</a></h1>
            <div id="login-logout" class="grid-cell">
                {% if 'username' in session %}
                <a href="{{ url_for('showLogout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('showLogin') }}">Login</a>
                {% endif %}
            </div>
        </header>
        <div id="flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <main id="page-content" class="grid grid-full grid-small-fit">{% block content %}{% endblock %}</main>
    </div>
    <!-- Load fonts using the Web Font Loader -->
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>
	WebFont.load({
		google: {
			families: ['Muli:200,400']
		}
	});
	</script>
</body>
</html>
