{% extends "base.html" %}
{% block title %}Item Catalog App{% endblock %}
{% block content %}
<div>
    <h2>Categories</h2>
    {% if categories %}
    <ul>
        {% for c in categories %}
        <li>
            <a href="{{ url_for('showCategory', category_slug=c.slug) }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no categories available</p>
    {% endif %}
</div>
<div>
    <h2>Latest Items</h2>
    {% if items %}
    <ul>
        {% for i in items %}
        <li>
            <a href="{{ url_for('showItem', category_slug=i.category.slug, item_slug=i.slug) }}">{{ i.name }}</a> ({{ i.category.name }})
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no items available</p>
    {% endif %}
</div>
{% endblock %}
