{% extends "base.html" %}
{% block title %}{{ category.name }} - Item Catalog App{% endblock %}
{% block content %}
<div>
    <h2>Categories</h2>
    <ul>
        {% for c in categories %}
        <li>
            <a href="{{ url_for('showCategory', category_slug=c.slug) }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <h2>{{ category.name }} Items</h2>
    <ul>
        {% for i in items %}
        <li>
            <a href="{{ url_for('showItem', category_slug=category.slug, item_slug=i.slug) }}">{{ i.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
